@import url("https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
.photoImg {
  object-fit: cover;
  min-height: 350px;
  max-height: 350px;
  width: 350px;
}

.card {
  max-width: 350px;
  margin: 10px;
}

.login-form {
  margin: 30px;
  padding: 30px;
  box-shadow: 0 0 15px 0 rgba(191, 191, 191, 1);
  border-radius: 10px;
}

.bar {
  padding: 10px;
  margin: 10px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}

.chart {
  box-shadow: 0 0 15px 0 rgba(191, 191, 191, 1);
  border-radius: 10px;
  padding: 10px;
}

.db-name {
  color: #34495e;
  font-family: "Jost", sans-serif;
}

.chart-heading {
  color: #34495e;
  font-family: "Jost", sans-serif;
}

.custom-tbl {
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.custom-tbl>thead {
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.15);
  color: #fa4251;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.3em;
  overflow: hidden;
}

.custom-tbl>tbody {
  font-weight: bold;
  vertical-align: middle;
}

.custom-tbl>tbody>tr {
  border-bottom: #fa4251 2px solid;
}

.four0four {
  font-size: 16em;
}

.four0four-details {
  font-size: 1.2em;
}

.my-container {
  margin: 0 25% 100px;
  line-height: 180%;
  font-size: 1.3em;
  color: #000;
  text-align: justify;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
}

.header .heading-text {
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.my-container>h1 {
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}