@import url("https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap");
.photoImg {
  object-fit: cover;
  min-height: 350px;
  max-height: 350px;
  width: 350px;
}

.card {
  max-width: 350px;
  margin: 10px;
}

.login-form {
  margin: 30px;
  padding: 30px;
  box-shadow: 0 0 15px 0 rgba(191, 191, 191, 1);
  border-radius: 10px;
}

.bar {
  padding: 10px;
  margin: 10px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
}

.chart {
  box-shadow: 0 0 15px 0 rgba(191, 191, 191, 1);
  border-radius: 10px;
  padding: 10px;
}
.db-name {
  color: #34495e;
  font-family: "Jost", sans-serif;
}
.chart-heading {
  color: #34495e;
  font-family: "Jost", sans-serif;
}
